label{
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

form{
    height: 90%;
    padding: 0 20px;
}
img{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
